<div class="container mobile text-center font0 p-top">
      <div class="col-lg-12">
            <h1 class="page-header">Going Dutch Mobile App</h1>
            <h4>Going Dutch is an App that allows users to create a group and organise the amount <br />each of them pays on a restaurant bill</h4>
            <h4><a href="http://www.royadams.co.uk/gd/gd.apk">Click to download apk</a></h4>
        </div>
        <div class="row">
        <div class="col-xs-12 col-sm-6 fl-no dis-ib">
          <img src="../../assets/thumbs/web/gd1_thumb.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-6 fl-no dis-ib">
          <img src="../../assets/thumbs/web/gd2_thumb.png" alt="">
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12 col-sm-6 fl-no dis-ib">
          <img src="../../assets/thumbs/web/gd3_thumb.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-6 fl-no dis-ib">
          <img src="../../assets/thumbs/web/gd4_thumb.png" alt="">
        </div>
        </div>
        <div class="row">
        <div class="col-xs-12 col-sm-6 fl-no dis-ib">
          <img src="../../assets/thumbs/web/gd5_thumb.png" alt="">
        </div>
        <div class="col-xs-12 col-sm-6 fl-no dis-ib">
          <img src="../../assets/thumbs/web/gd6_thumb.png" alt="">
        </div>
        </div>
      </div>
