<!-- Header Graphic -->


<!-- Page Content -->
<div class="container text-center  font0">



        <div class="col-md-10 col-md-offset-1">
            <img class="img-responsive" src="/assets/shared/roy-adams-logo.jpg" />
        </div>

        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" routerLink='/adds'>
                <img class="" src="assets/thumbs/adds/ateca.jpg" alt="">
                Onilne Adds
            </a>
        </div>
      <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" routerLink="/printwork">
                <img class="" src="assets/thumbs/print/print.jpg" alt="">
                  Print
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" routerLink="/web">
                <img class="" src="assets/thumbs/web/ma-leon.jpg" alt="">
                Websites &amp; Apps
            </a>
        </div>
      <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" routerLink="/mygames">
                <img class="" src="assets/thumbs/games/games.jpg" alt="">
                Games
            </a>
        </div>




</div>
