<!-- Page Content -->
<div class="container text-center font0 p-top">
      <div class="col-lg-12">
            <h1 class="page-header">Websites &#38; Apps</h1>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/ma-leon" target="_blank">
                <img class="" src="../../assets/thumbs/web/ma-leon.jpg" alt="Ma-leon Accountants">
               Angular 4 Website
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.geekedout.co.uk" target="_blank">
                <img class="" src="../../assets/thumbs/web/geekedout.jpg" alt="Geeked out">
               Angular 4 Website
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" routerLink="/goingdutch">
                <img class="" src="../../assets/thumbs/web/going-dutch.jpg" alt="Going Dutch">
               Angular 4/Ionic App
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.teamwilkey.co.uk/" target="_blank">
                <img class="" src="../../assets/thumbs/web/wilkey.jpg" alt="Team Wilkey">
               Team Wilkey
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/coral/splash/pixiestakeover.html" target="_blank">
                <img class="" src="../../assets/thumbs/web/splash.jpg" alt="Pixies Landing page">
                GB Landing Page
            </a>
      </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/coral/splash/rockinjp.html" target="_blank">
                <img class="" src="../../assets/thumbs/web/rockin.jpg" alt="Gala Bingo Landing Page">
                GB Landing Page
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/coral/splash/wheeloffortune.html" target="_blank">
                <img class="" src="../../assets/thumbs/web/wheel.jpg" alt="Gala Bingo Landing Page">
                GB Landing Page
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/coral/splash/everyonesawinner.html" target="_blank">
                <img class="" src="../../assets/thumbs/web/winner.jpg" alt="Gala Bingo Landing Page">
                GB Landing Page
            </a>
        </div>
  </div>
