<!-- Page Content -->
<div class="container text-center font0 p-top">

        <div class="col-lg-12">
            <h1 class="page-header">Online Adds</h1>
        </div>

          <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/C4_Picasso/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/picasso.jpg" alt="">
                C4 Picasso Rich Ad
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/Kuga/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/kuga.jpg" alt="">
                Ford Kuga
            </a>
      </div>
          <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/O2_trophy/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/o2.jpg" alt="">
                O2 Customer Service
            </a>

        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/FocusRS/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/fordRs.jpg" alt="">
                Ford Focus RS
            </a>
        </div>
          <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/Ateca/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/ateca.jpg" alt="">
                SEAT Ateca
            </a>
        </div>
          <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/wtw/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/smax.jpg" alt="">
                Ford S-MAX
            </a>
        </div>
          <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/canvas_ad/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/hof.jpg" alt="">
                House of Fraser
            </a>
        </div>
          <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/mustang_yellow/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/mustang.jpg" alt="">
                Ford Mustang
            </a>
        </div>
          <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/smax2/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/smax.jpg" alt="">
                Ford S-MAX Expand
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/Audi/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/audi.jpg" alt="">
                Audi Expanded
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/blackrock/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/blackrock.jpg" alt="">
                Black Rock
            </a>
        </div>
          <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/ecosport/" target="_blank">
                <img class="img-responsive" src="../../assets/thumbs/adds/eco.jpg" alt="">
                Eco Sport
            </a>
        </div>

  </div>
