<!-- Page Content -->
<div class="container text-center font0 p-top">
      <div class="col-lg-12">
            <h1 class="page-header">Games</h1>
        </div>

        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/mustang_game/" target="_blank">
                <img class="" src="../../assets/thumbs/games/games.jpg" alt="Ford Mustang Game">
               Ford Mustang Game
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/bwinBJ/" target="_blank">
                <img class="" src="../../assets/thumbs/games/poker.jpg" alt="Teaser Blackjack Game">
                Teaser Blackjack Game
            </a>
      </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/bwin/" target="_blank">
                <img class="" src="../../assets/thumbs/games/slot.jpg" alt="Teaser Slot Game">
                Teaser Slot Game
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/ecosportGame/" target="_blank">
                <img class="" src="../../assets/thumbs/games/eco.jpg" alt="Ford EcoSport Game">
                Ford EcoSport Game
            </a>
        </div>
        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/banners/powerPlay/" target="_blank">
                <img class="" src="../../assets/thumbs/games/mondeo.jpg" alt="Ford Mondeo Game">
                Ford Mondeo Game
            </a>
        </div>

        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/test_3/qrCode.html" target="_blank">
                <img class="" src="../../assets/thumbs/games/mobile.jpg" alt="Mobile Game">
                Mobile Game
            </a>
        </div>

        <div class="col-md-3 col-sm-6 fl-no dis-ib">
            <a class="thumbnail" href="http://www.royadams.co.uk/html5game/" target="_blank">
                <img class="" src="../../assets/thumbs/games/scroll.jpg" alt="Q&amp;A Scrolling Game">
                Q&amp;A Scrolling Game
              </a>
        </div>
  </div>
